.notificationBarContainer {
  background: url("https://storecomponents.vteximg.com.br/arquivos/delivery-fast.png" )no-repeat;
  background-color: #06092b;
  color: #3ad81300;
  font-weight: 700;
  font-size: 12px;
}
.searchIcon{
  color: #1db8fb;
}
.infoCardContainer--info-card-home {
  width: 100%;
  margin: 0 auto;
  background-color: #06092b;
  padding: 0px;
}

.newsletter {
  background-color: #03051A;
  color: #1db8fb;
  /* max-width: 1920px; */
  width:100%;
  margin: 0 auto;
}

/* .container--newsLetter{
  background-color: #18a0fb;
} */

.newsletter .container {
  padding: 60px 10px;
  background-color: #03051A;
}

.autoCompleteOuterContainer{
  color: #e28205;
}

.label {
  color: #ffffff;
  font-size: 26px;
  border-color: aqua;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}
.notificationBarInner{
  border: aqua;

  color: #fff;
  /* background: url("https://storecomponents.vteximg.com.br/arquivos/delivery-fast.png" )no-repeat; */
  background-color: #18a0fb;
  text-decoration: none;

}
.notificationConten{
  color: aqua;
}



.styledLinkContent{
  color: #fff;
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.styledLinkContainer{
  color: #03034e;
}


.productImageTag{
  color: #03034e;
}
/* footer colors cards */
.container{
  background-color: #06092b;
  width: 100%;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  height: 40px;
  max-width: 400px;
  width: 400px;
  border: 1px solid rgb(14, 151, 214);
  color: #18a0fb;
}
.input{
  color:#fff;
}
.hideDecorators{
  color: #e28205;
}

.searchBarContainer:global(.vtex-styleguide-9-x-input)::placeholder{
  color: rgb(235, 52, 52);
  background-color: aqua;
  font-size: 16px;
}


