.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
.container--title-station{
  background-color: #06092b;
}
.container--title-slogan{
  background-color: #06092b;
}

.container--shelfTitle {
  background-color: #06092b;
  color: #ffffff;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  background-color: #06092b;
  color: #ffffff;
  justify-content: center;
}

.container--question {
  justify-content: center;
background-color: #06092b;
}

.container--question .paragraph {
  text-align: center;
 width: 100%;


  background-color: #06092b;
  color: #ffffff;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
 width: 100%;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #f6f6fa;
  background-color: #06092b;
}

.paragraph--menu-link{
  color: #ffffff;

}
/* Titulo do menu footer */
.paragraph--agoravai{
  color:#ffffff;
  margin-left: 22px;
  font-size: 18px;
}
.paragraph--agorafoi{
  color:#ffffff;
  margin-left: 22px;
  font-size: 12px;
}

.paragraph--footer-siga{
  color:#ffffff;
  font-size: 18px;
  display: flex;
}
/* imagem da combi no topHeader */
.image--menu-link{

 width: 38px;
}

.link--agorafoi{
  color: #ffffff;
  text-decoration: #ffffff00;
}

.image--agoravai{

align-items: baseline;
height: 25px;
 }
.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}
.link{
  background-color: #06092b;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: aqua;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.paragraph--title{
  color: #ffffff;
  margin-left: 20px;
  font-size: 22px;
}
.image--titles{
  color: #ffffff;
  font-size: 33px;

}
.strong--title-slogan {
  color: #4839FF;
  font-size: 35px;
  margin-left: 180px;
}
.paragraph--titles{
  color: #f6f6fa;

  font-size: 23px;
}


.strong--title-station {
  color: #0adefa;
  font-size: 35px;
  margin-left: 100px;
}
.paragraph--station{
  color: #f6f6fa;
  font-size: 23px;
}

.paragraph--footer{
  color: #ffffff;
  font-size: 12px;
  margin-left: 20px;
}
.paragraph--pantera{
  color: #ffffff;
  font-size: 12px;
}

.paragraph--panteraA{
  color: #ffffff;
  font-size: 20px;

}
.paragraph--panteraB{
  color: #c4c4c4;
  font-size: 11px;

}
/* form newslatter */
.container--newsletterTitle {
  background-color: #000114;
  display: flex;
  padding-left: 20px;
}

.strong--newsletterTitle {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
}

.heading--newsletterTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.paragraph--subscriptionConfirmation {
  color: #ffff
}

.paragraph--justfytext{
  color: #f0eff1;
  font-size: 14px;
  padding-bottom: 80px;

}
.paragraph--acao{
  color: #ffffff;
  font-size: 18px;
  padding:60px;
}
